!!! XML
!!! Strict
%html
  %head
    %title Sinatra
    %link{ :href => "/demo.css", :rel => "stylesheet", :type => "text/css" }
  %body
    #header
      %h1 Sinatra Demo
    #content
      = yield
    #footer
      %a{ :href => '/about' } About
